html, body {
  background-color: #000;
  color: #FFF; }

.bg-red {
  background-color: #DB2828;
  color: #FFF; }

.bg-yellow {
  background-color: #FFE21F;
  color: #FFF; }

.bg-blue {
  background-color: #2185D0;
  color: #FFF; }

.bg-grey {
  background-color: #292929;
  color: #FFF; }

#banner-home {
  width: 100%;
  height: 100%;
  background-image: url("../images/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.opacity-banner {
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%; }

.img-perfil {
  width: 250px;
  height: 250px; }

#habilidades {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  color: #FFF;
  width: 100%;
  height: 100%; }

.fa-html5 {
  color: orange; }

.fa-css3 {
  color: #2185D0; }

.fa-sass {
  color: #cc6699; }

.fa-js-square {
  color: #FFE21F; }

.fa-php {
  color: purple; }

.fa-wordpress {
  color: #2185D0; }

.fa-react {
  color: #61dafb; }

.fa-node-js {
  color: #43853d; }

.fa-database {
  color: #FFE21F; }

.fab,
.fas {
  font-size: 2.2em;
  padding-right: 10px; }

footer {
  padding: 20px;
  font-size: 1.1em; }
