.barra {
  border: 2px solid #262626;
  border-radius: 15px;
  background: #262626;
  width: 100%; }

.conteudo {
  width: 0%;
  height: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  padding: 12px; }

.animate {
  background-color: #0554f2;
  background-image: -webkit-gradient(linear, 90deg, from(#0554F2), to(#0554F2));
  background-image: -webkit-linear-gradient(90deg, #0554F2, #0554F2);
  background-image: -moz-linear-gradient(90deg, #0554F2, #0554F2);
  background-image: -ms-linear-gradient(90deg, #0554F2, #0554F2);
  background-image: -o-linear-gradient(90deg, #0554F2, #0554F2);
  background-image: linear-gradient(90deg, #0554F2, #0554F2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#0554F2', EndColorStr='#0554F2');
  opacity: 0.6; }

.titulo-home {
  font-size: 4.0em; }

.wd-30 {
  width: 30%; }

.wd-40 {
  width: 40%; }

.wd-50 {
  width: 50%; }

.wd-60 {
  width: 60%; }

.wd-70 {
  width: 70%; }

.wd-80 {
  width: 80%; }

.wd-90 {
  width: 90%; }

.wd-100 {
  width: 100%; }
