.barra {
  border: 2px solid #696969;
  border-radius: 15px;
  background: #696969;
  width: 100%; }

.conteudo {
  height: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background-color: #FFE21F;
  background-image: -webkit-gradient(linear, 90deg, from(#2185D0), to(#FFE21F));
  background-image: -webkit-linear-gradient(90deg, #2185D0, #FFE21F);
  background-image: -moz-linear-gradient(90deg, #2185D0, #FFE21F);
  background-image: -ms-linear-gradient(90deg, #2185D0, #FFE21F);
  background-image: -o-linear-gradient(90deg, #2185D0, #FFE21F);
  background-image: linear-gradient(90deg, #2185D0, #FFE21F);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#2185D0', EndColorStr='#FFE21F');
  opacity: 0.6;
  padding: 12px; }

.titulo-home {
  font-size: 4.0em; }

.wd-30 {
  width: 30%; }

.wd-40 {
  width: 40%; }

.wd-50 {
  width: 50%; }

.wd-60 {
  width: 60%; }

.wd-70 {
  width: 70%; }

.wd-80 {
  width: 80%; }

.wd-90 {
  width: 90%; }

.wd-100 {
  width: 100%; }
